inep,nome_escola,cep,logradouro,numero,bairro,zona,telefone,email,campo9,campo10,campo11,campo12,campo13,campo14,campo15,acao_ambiental,ato_criacao
00000000,EMEF Município Genérico Exemplo,00000000,Rua da Educação,100,Centro,URBANA,,escola.exemplo@municipio.gov.br,,,,,,,NÃO,Lei municipal nº 001/2020
